<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rltsquare2>
            <general>
                <enable>1</enable>
                <display_text>production</display_text>
            </general>
        </rltsquare2>
    </default>
</config>
